<div class="row align-items-center vh-100">
  <div class="row bg-primary h-auto p-5 opacity-95">
    <div class="col-sm">
      <h1 class="">ABOUT THE TAPROOM</h1>
      <p>At the Lodge on Main, we want to recognize and celebrate the exceptional craft beer industry from our Okie Neighbor breweries from up the road, to up the turnpike</p>
      <p class="">Our taproom is proud to serve a sampling of Oklahoma's favorite crafted beers</p>
    </div>
  </div>
</div>
<div class="row align-items-center vh-100">
  <div class="row bg-primary h-auto p-5 opacity-95">
    <h1 class="">See what's currently on tap </h1>
    <p>below, or better yet, stop by, pull up a chair and stay a while</p>
  </div>
</div>
<div class="row align-items-center vh-100">
  <div class="row bg-primary h-auto p-5 opacity-95">
    <h1 class="">IF CRAFT BEER ISN'T YOUR THING</h1>
    <p>no worries. We also have domestics, wine and fountain beverages your enjoyment</p>
  </div>
</div><div class="row align-items-center vh-100">
  <div class="row bg-primary h-auto p-5 opacity-95">
    <h1 class="">WE ARE A FAMILY FRIENDLY SPACE</h1>
    <p>We have corn hole and table games on hand</p>
  </div>
</div><div class="row align-items-center vh-100">
  <div class="row bg-primary h-auto p-5 opacity-95">
    <h1 class="">AT THIS TIME WE DO NOT SERVE FOOD</h1>
    <p>Fortunately, here in the Rose District, there are so many great dining options to choose from. We encourage you to support local and welcome you to bring it in with you when you visit the Lodge</p>
  </div>
</div>