<div class="vh-100">
  <div class="h-50 bg-primary">
    
  </div>
</div>
<div class="vh-100">
  <div class="h-50 bg-secondary">
    
  </div>
</div>
<div class="vh-100">
  <div class="h-50 bg-primary">
    
  </div>
</div>