<div class="row align-items-center vh-100">
  <div class="bg-primary h-auto p-5 bg-opacity-75">
    <h1 class="">Visit Us</h1>
    <p>Come see us in the heart of the Rost District, Broken Arrow, Oklahoma!</p>
    <p class="">The Lodge ion Main is not only the place to book your Private Event, but also a place to buildl commmunity and enjoy Oklahoma crafted beer and good times with family and friends!</p>
  </div>
</div>
<div class="row align-items-center vh-100">
  <div class="bg-primary h-auto p-5 bg-opacity-75">
    <h1 class="">Taproom</h1>
    <p class="">Consider this your invite!</p>
    <p class="">You don't have to attend a private event to come hang out at the Lodge. We welcome you to shate our Family Friendly space!</p>
    <p class="">We will have regular open hours available when not booked for events.</p>
    <p class="">So come on in! Stay awhile!</p>
  </div>
</div>
<div class="row align-items-center vh-100">
  <div class="bg-primary h-auto p-5 bg-opacity-75">
    <h1 class="">Events</h1>
    <p class="">We would love to host your special event.</p>
    <p class="">Enjoy our entire space as you and your guests make yourself at home, and create lasting memories for your next personal or business get together.</p>
  </div>
</div>