<div class="row justify-content-center m-3">
  <div class="row my-2">
    <%= link_to(
      'Add Photo',
      new_photo_path,
      class: 'btn btn-primary'
    ) %>
  </div>  
  <% @photos.each do |photo| %>
    <div class="col-lg-4 bg-primary p-3">
      <%= link_to(
        image_tag(photo.image, class: 'img-thumbnail rounded mw-100'),
        photo_path(photo.id)
      ) %>
    </div>
  <% end %>
</div>