// Place all the styles related to the access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

body {
  background-color: black !important;
}

.link-box {
  transition: box-shadow 0.2s ease;
}

.link-box:hover {
  box-shadow: 0px 0px 50px 10px black inset;
}

.hide-navbar {
  top: -100px
}

#company-typewriter {
  font-family: 'Abril Fatface', 'Copperplate', cursive;
  font-weight: 300;
}
